<div class="container">
  <div class="jumbotron">
    <div class="row col 3 lg">
      <div class="Route">
        <div class="Rt">
          <p>Info From CTA</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <div class="row col 3 lg">
      <div class="Route">
        <div class="Rt">
          <p>Info From CTA</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <div class="row col 3 lg">
      <div class="Route">
        <div class="Rt">
          <p>Info From CTA</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <div class="row col 3 lg">
      <div class="Route">
        <div class="Rt">
          <p>Info From CTA</p>
        </div>
      </div>
    </div>
  </div>
</div>
