<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />

    <link rel="icon" type="image/png" href="/images/communitystoptab.png" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="javascripts/tracker.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
  <footer>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </footer>
</html>
